//#Initial

  html, body {
    width: 100%;
    font-display: optional;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
  }
  body {
    background: #fff;
    font-family: $font-primary;
    font-size: 18px;
    color: $color-gray;
    overflow-x: hidden;
    width: 100vw;
  }

  a{
    color: $color-black;
    text-decoration: none;
    cursor: pointer;
    transition: all, .3s;
    &:hover, &:focus, &:active, &.active{
      color: $color-secondary;
    }
  }

  strong, b{
    font-weight: 700;
  }

  .read-more{
    display: block;
    margin-top: 20px;
    font-family: Raleway,Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    &:after{
      content:' ...'
    }
  }

//#Typography

  h1, h2, h3, h4, h5, h6{
    font-family: $font-secondary;
    line-height: 1.25;
  }

  h1 { font-size: 60px; }
  h2 { font-size: 48px; }
  h3 { font-size: 32px; }
  h4 { font-size: 24px; }
  h5 { font-size: 18px; }
  h6 { font-size: 16px; }

  @include bp(large){
    h1 { font-size: 72px; }
    h2 { font-size: 60px; }
    h3 { font-size: 48px; }
  }


  p, ul, ol, li, span, blockquote, a{
    line-height: 1.5;
  }

  p {
    color: $color-gray;
    // margin-bottom: 20px;
  }

  b {
    font-weight: 700;
  }

  ul, ol {
    // margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
  }
