 /*
 *
 * Vitalidad - Abbott
 * Author: Rodrigo Tezen - rodrigo@royalestudios.com
 * Royale Studios - Guatemala, C.A.
 * https://www.royalestudios.com
 *
 */

@keyframes rotate {
  from {
    transform: rotate(0deg) translateX(0%);
  }
  to {
    transform: translateX(-25%) rotate(-40deg);
  }
}

@font-face {
    font-family: 'FS Joey';
    src: url('FSJoey-Light.eot');
    src: local('./fonts/FS Joey Light'), local('./fonts/FSJoey-Light'),
    url('./fonts/FSJoey-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FSJoey-Light.woff2') format('woff2'),
    url('./fonts/FSJoey-Light.woff') format('woff'),
    url('./fonts/FSJoey-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
}

.pedialyte-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pedialyte-content {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pedialyte-images, .swiper-container {
  height: calc(100vw/1.77);
  width: auto;
  position: relative;
  img {
    width: auto;
    height: 100%;
  }
}
.swiper-slide {
  display: flex;
  justify-content: center;
}

// MENU
#openmenu {
  display: flex;
  width: 24px;
  height: 16px;
  position: fixed;
  right: calc(100vw/6.5);
  top: 5%;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 110;
  padding: 6px 5px;
  border: solid 2px #00BDF2;
  border-radius: 5px;
  background: #fff;
   span{
     display: block;
     position: absolute;
     height: 2px;
     width: calc(100% - 10px);
     background: #00BDF2;
     opacity: 1;
     left: 5px;
     transform: rotate(0deg);
     transition: .25s ease-in-out;
     &:nth-child(1) {
       top: 7px;
     }
     &:nth-child(2),&:nth-child(3) {
       top: 13px;
     }
     &:nth-child(4) {
       top: 19px;
     }
   }
   &.open{
     border-color: #2E4E8A;
     span{
      background: #2E4E8A;
       &:nth-child(1) {
         top: 18px;
         width: 0%;
         left: 50%;
       }
       &:nth-child(2) {
         -webkit-transform: rotate(45deg);
         -moz-transform: rotate(45deg);
         -o-transform: rotate(45deg);
         transform: rotate(45deg);
       }
       &:nth-child(3) {
         -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
         transform: rotate(-45deg);
       }
       &:nth-child(4) {
         top: 18px;
         width: 0%;
         left: 50%;
       }
     }
   }
}

.pedialyte-menu {
  position: fixed;
  top: -100vh;
  width: 100vw;
  z-index: 100;
  transition: all .3s ease-in-out;
  &.show {
    top: 0;
  }
  ul {
    background: #fff;
    width: calc(100vw/1.53);
    margin: auto;
    list-style: none;
    padding: 3% 5%;
    display: flex;
    flex-flow: wrap;
    max-height: 50%;
  }
  li {
    font-size: 18px;
    font-family: 'FS Joey';
    width: 50%;
    color: #2E4E8A;
    margin: 10px 0;
    font-weight: bold;
    cursor: pointer;
  }
}
